/********************************************************************************************/
/*                Stylesheet for smoothie.html                                              */
/*                Autora: Ruyi Xia Ye                                                       */
/*                Version: 1.0                                                              */
/*                Fecha: Octubre 2023                                                       */
/*                Comentario: Trabajo lenguajes de marcas para portfolio                    */
/********************************************************************************************/

@font-face {
    font-family: smoothie;
    src: url(../Receta/fonts/Handlee-Regular.ttf);
}

@font-face {
    font-family: extralight;
    src: url(../Receta/fonts/PlaypenSans-ExtraLight.ttf);
}

* {box-sizing: border-box;
} 

body {background-image: url(../Receta/img/background\ image\ 1.png);
    background-size: 30%;
    margin: 0;
    padding: 0;
    
}

#wrapper {width: 80%;
    margin: auto;
    background-color: rgb(255, 245, 252);
    font-family: extralight;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 1%;
}

blockquote {font-style: italic;
    color: rgb(36, 35, 35);
    text-align: center;
    font-family: extralight;
    padding: 2%;
    border-bottom: 2px solid rgb(221, 29, 141);
    border-top: 2px solid rgb(221, 29, 141);
    background-color: rgb(252, 249, 243);

}

h1 {color: rgb(221, 29, 141);
    font-family: smoothie;
    text-align: center;
    font-size: 70px;
    text-shadow: 1px 1px 0px black,
                -1px 1px 0px black,
                1px -1px 0px black,
                -1px -1px 0px black;
    padding-top: 2%;

}

h2 {color:rgb(221, 29, 141) ;

}

img {margin-left: 20px;}

ul {list-style-image: url(../Receta/img/raspberry_1791310.png);}







